*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(75, 74, 73);
}
h1{
    margin-top: 25px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: rgb(158, 154, 149);
}
.container{
    margin-top: 5%;
}
input{
    width: 300px;
    height: 40px;
    border: none;
    background-color: transparent;
    outline-style: none;
    font-size: 20px;   
    text-transform: uppercase;
}
input:hover{
    border-bottom: solid beige;
    transition: 0.5s;
    border-width: 1px;
}
.container button{
    margin-left: 25px;
    padding: 7px;
    border-radius: 24px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button:hover{
    border: solid whitesmoke;
    border-width: 1px;
    transition: 0.5s;
}
.par-style{
    margin-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    
}
@media  Screen and (max-width:600px) {
    body{
        background-color: rgb(56, 53, 50);
    }
    input{
        width: 200px;
        font-size: 15px;
    }
    .container{
        margin-top: 25%;
    }
    
}
